* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


body {
	font-family: 'Poppins', sans-serif;
	background-color: #333646;
}

.navbar-links a {
	color: #fff;
	text-decoration: none;
}

.navbar-links a:hover {
	color: #3bc6c5 !important;
}

.navbar-links a:focus {
	color: #3bc6c5;
}

header {
	padding: 50px 15px 0px;
}

header h1 {
	color: #FFF;
	font-size: 48px;
	font-weight: 500;
	text-align: center;
}

header hr {
	position: absolute;
	width: 75.3%;
	border-color: #3BC6C5;
	margin-top: 60px;
}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.about-us h1 {
	text-align: center;
	color: #3bc6c5;
	padding-top: 100px;
	padding-bottom: 20px;
}

.about-us h2 {
	color: #3bc6c5;
	text-align: center;
	padding-top: 50px;
}

.big-logo-about-us {
	width: 700px;
	display: flex;
	justify-self: center;
	margin: auto;
	margin-top: 70px;
}

.about-us p {
	color: #EEE;
	font-size: 19px;
}

.contact-us {
	margin-top: 100px;
}

.contact-us h1 {
	color: #3bc6c5;
	text-align: center;
	padding-top: 50px;
}

.form {
	margin: auto;
	display: flex;
	justify-content: center;
}

.form label {
	color: #fff;
	padding: 10px;
	font-size: 18px;
}

.form input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #3bc6c5;
	background-color: transparent;
	width: 700px;
	padding: 10px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

textarea:focus,
input:focus {
	outline: none;
}

.form textarea {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #3bc6c5;
	background-color: transparent;
	width: 700px;
	padding-top: 70px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.form-button {
	background-color: #3bc6c5;
	margin: auto;
	justify-content: center;
	display: flex;
	border: none;
	border-radius: 5px;
	padding: 15px 50px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

section {
	padding: 15px;
}

.movie-search {
	display: flex;
	justify-content: flex-end;
	margin-right: 210px;
	margin-bottom: -25px;
	color: white;
	font-weight: 300;
}

.game-search {
	display: flex;
	justify-content: flex-end;
	margin-right: 135px;
	margin-bottom: -25px;
	color: white;
	font-weight: 300;
}

.anime-search {
	display: flex;
	justify-content: flex-end;
	margin-right: 70px;
	margin-bottom: -25px;
	color: white;
	font-weight: 300;
}

.searchbox {
	display: block;
	width: 100%;
	padding: 20px;

	border: none;
	outline: none;
	background: none;

	background-color: #EEE;
	border-radius: 40px;

	color: #53565A;
	font-size: 20px;
	font-weight: 300;

	transition: 0.4s ease-out;

	box-shadow:
		inset 0 -3em 3em rgba(0, 0, 0, 0.1),
		0 0 0 2px rgb(255, 255, 255),
		0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.searchbox:focus {
	box-shadow: 0px 0px 8px 3px #4484C4;
}

.results {
	display: flex;
	flex-wrap: wrap;
	margin: 35px -15px;
}

.results a {
	text-decoration: none;
}

.category {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	padding-top: 20px;
}

.category h3 {
	position: absolute;
	padding-top: 10px;
	color: #FFF;
}

.category img {
	padding-top: 60px;
}

.results .result {
	width: 33.333%;
	min-width: 250px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.results .result img {
	display: block;
	width: 100%;
}

.results .result h3 {
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	background: #445565;
	flex: 1 1 100%;
	transition: 0.4s ease-out;
}

.results .result:hover h3 {
	background: #FFF;
	color: #223343;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #223343;

	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;

	color: #FFF;
}

.popup .content h2 {
	font-size: 28px;
	font-weight: 600;
}

.popup .content h2 span {
	font-weight: 300;
	font-size: 20px;
}

.popup .content .rating {
	margin-bottom: 30px;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
}

.popup .content .close {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;
	background: #3bc6c5;
	color: #FFF;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	margin-bottom: 40px;
	transition: 0.4s ease-out;
}

.popup .content .close:hover {
	background: #223343;
}

.navbar-links {
	display: flex;
	float: right;
}

.navbar-links li {
	padding-right: 70px;
	list-style: none;
	color: #FFF;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

.big-logo {
	margin: auto;
	display: flex;
	padding-bottom: 20px;
}

.searchbox-wrap {
	padding-top: 50px;
}

.gaming-icon {
	cursor: pointer;
}

.gaming-icon:hover {}

.anime-icon {
	cursor: pointer;
}

.movie-icon {
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.category {
		display: flex;
		justify-content: center;
		justify-content: space-evenly;
		padding-top: 104px;
		margin-left: 200px;
	}

	.searchbox-wrap {
		padding-top: 50px;
	}

	.category img {
		padding-top: 60px;
		width: 150px;
		padding-right: 10px;
	}

	.searchbox {
		display: block;
		width: 151%;
		padding: 20px;
		border: none;
		outline: none;
		background: none;
		background-color: #EEE;
		border-radius: 40px;
		color: #53565A;
		font-size: 20px;
		font-weight: 300;
		transition: 0.4s ease-out;
		box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), 0 0 0 2px rgb(255 255 255), 0.3em 0.3em 1em rgb(0 0 0 / 30%);
	}

	.big-logo {
		margin: auto;
		display: flex;
		padding-bottom: 20px;
		margin-left: 95px;
	}

	header hr {
		position: absolute;
		width: 128.3%;
		border-color: #3BC6C5;
		margin-top: 60px;
	}

	.navbar-links li {
		padding-right: 33px;
		list-style: none;
		color: #FFF;
		padding-left: 31px;
		white-space: nowrap;
	}

	.results {
		display: flex;
		flex-wrap: wrap;
		margin: 35px 134px;
	}

	.big-logo-about-us {
		width: 405px;
		display: flex;
		justify-self: center;
		margin: auto;
		margin-top: 70px;
		margin-left: 71px;
	}

	.about-us {
		width: 133%;
	}

	.about-us p {
		color: #EEE;
		font-size: 19px;
		margin-left: 48px;
	}

	.form {
		display: block;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 40px;
	}

	.form input {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #3bc6c5;
		background-color: transparent;
		width: 160%;
		padding: 10px;
		color: #fff;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
	}

	.form textarea {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #3bc6c5;
		background-color: transparent;
		width: 160%;
		padding-top: 70px;
		color: #fff;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
	}

	.form-button {
		background-color: #3bc6c5;
		margin-left: 200px;
		justify-content: center;
		display: block;
		border: none;
		border-radius: 5px;
		padding: 15px 50px;
		font-size: 15px;
		cursor: pointer;
		margin-top: 20px;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
	}

	.popup {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #223343;
		overflow-y: scroll;
	}
}